body {
  padding: 20px 40px;
  font-family: "Verdana";
}

h1 {
  margin: 20px;
  font-family: 'Bungee Shade', cursive;
  color: #f54242;
}

*{
  text-align: center;
}

.secretWord {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 3rem;
}

.letter-button:disabled {
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.custom-font {
  font-family: 'Major Mono Display', monospace;
  
}

.game-box {
  background-color: #85b1ff;
}

.hangman-image {
  width: 200px;
  width: 200px;
}

.custom-button-font {
  font-family: 'Carter One', cursive;
  padding: 20px;
  background-color: #85b1ff;
}